---
import config from '@/config'
import { getCollection } from 'astro:content'
import { getMarkdownGists } from '../utils/services'
import type { Gist } from '../utils/services'
import List from '@/components/List.astro'
import Base from '@/layouts/Base.astro'
import PostPreview from '@/components/PostPreview.astro'

// Fetch the markdown gists during Astro's build process
const articles = await getMarkdownGists()
---

<Base meta={{ title: config.title }}>
  <div class="grid grid-cols-3 gap-5 w700:grid-cols-2">
    {
      articles.length > 0 ? (
        <List data={articles} />
      ) : (
        <div class="flex h-screen items-center justify-center">
          <h1 class="text-2xl font-bold text-gray-500">No Gists Found</h1>
        </div>
      )
    }
  </div>
</Base>
